# IntelliJ / IDEA
.idea/
*.iml
out/

# Eclipse
.project
.classpath
.settings/

# VS Code
.vscode/

# Maven
target/
**/target/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Java / Build
hs_err_pid*
replay_pid*
/remove_bom.ps1
